--
-- PostgreSQL database dump
--

\restrict BY1f1qQ8VjJLhaVyTkduyD338G3Mz8l7w8zcaJ4BZIpd8Ow2A7x8xv1y6fYSjES

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg12+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_stat_statements; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_stat_statements WITH SCHEMA public;


--
-- Name: EXTENSION pg_stat_statements; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_stat_statements IS 'track planning and execution statistics of all SQL statements executed';


--
-- Name: cantilever_type; Type: TYPE; Schema: public; Owner: apex
--

CREATE TYPE public.cantilever_type AS ENUM (
    'single',
    'double',
    'truss',
    'cable'
);


ALTER TYPE public.cantilever_type OWNER TO apex;

--
-- Name: connection_type; Type: TYPE; Schema: public; Owner: apex
--

CREATE TYPE public.connection_type AS ENUM (
    'bolted_flange',
    'welded',
    'pinned',
    'clamped'
);


ALTER TYPE public.connection_type OWNER TO apex;

--
-- Name: exposure_category; Type: TYPE; Schema: public; Owner: apex
--

CREATE TYPE public.exposure_category AS ENUM (
    'B',
    'C',
    'D'
);


ALTER TYPE public.exposure_category OWNER TO apex;

--
-- Name: importance_factor; Type: TYPE; Schema: public; Owner: apex
--

CREATE TYPE public.importance_factor AS ENUM (
    'I',
    'II',
    'III',
    'IV'
);


ALTER TYPE public.importance_factor OWNER TO apex;

--
-- Name: select_monument_pole(double precision, double precision, integer, boolean); Type: FUNCTION; Schema: public; Owner: apex
--

CREATE FUNCTION public.select_monument_pole(p_wind_moment_kipft double precision, p_height_ft double precision, p_max_diameter_in integer DEFAULT 14, p_prefer_a1085 boolean DEFAULT false) RETURNS TABLE(designation character varying, type character varying, diameter_in integer, weight_plf double precision, moment_capacity_kipft double precision, stress_ratio double precision, slenderness_ratio double precision, cost_per_ft double precision, is_a1085 boolean, status character varying)
    LANGUAGE plpgsql
    AS $$
        DECLARE
            v_required_sx FLOAT;
            v_max_slenderness FLOAT := 200;
        BEGIN
            -- Calculate required section modulus
            v_required_sx := p_wind_moment_kipft * 12 / (50 * 0.9);
            
            RETURN QUERY
            SELECT 
                s.aisc_manual_label,
                s.type,
                s.nominal_depth,
                s.w,
                s.sx * 50 * 0.9 / 12 as moment_cap,
                (p_wind_moment_kipft * 12) / (s.sx * 50 * 0.9) as stress_ratio,
                (p_height_ft * 12) / s.rx as slenderness,
                s.w * 0.90 as cost,
                s.is_astm_a1085,
                CASE 
                    WHEN (p_wind_moment_kipft * 12) / (s.sx * 50 * 0.9) > 1.0 THEN 'OVERSTRESSED'
                    WHEN (p_height_ft * 12) / s.rx > 200 THEN 'TOO_SLENDER'
                    WHEN (p_wind_moment_kipft * 12) / (s.sx * 50 * 0.9) > 0.9 THEN 'HIGH_STRESS'
                    ELSE 'OK'
                END as status
            FROM aisc_shapes_v16 s
            WHERE s.type IN ('HSS', 'PIPE')
                AND s.nominal_depth <= p_max_diameter_in
                AND s.sx >= v_required_sx * 0.8
                AND s.rx >= (p_height_ft * 12) / v_max_slenderness * 0.9
                AND (NOT p_prefer_a1085 OR s.is_astm_a1085 = true)
                AND s.is_available = true
            ORDER BY 
                CASE WHEN p_prefer_a1085 AND s.is_astm_a1085 THEN 0 ELSE 1 END,
                (p_wind_moment_kipft * 12) / (s.sx * 50 * 0.9),
                s.w
            LIMIT 10;
        END;
        $$;


ALTER FUNCTION public.select_monument_pole(p_wind_moment_kipft double precision, p_height_ft double precision, p_max_diameter_in integer, p_prefer_a1085 boolean) OWNER TO apex;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: aisc_shapes_v16; Type: TABLE; Schema: public; Owner: apex
--

CREATE TABLE public.aisc_shapes_v16 (
    id integer NOT NULL,
    type character varying(20) NOT NULL,
    edi_std_nomenclature character varying(100),
    aisc_manual_label character varying(100) NOT NULL,
    t_f character varying(10),
    w double precision,
    area double precision,
    d double precision,
    d_det double precision,
    ht double precision,
    h double precision,
    od double precision,
    bf double precision,
    bf_det double precision,
    b double precision,
    id_dim double precision,
    tw double precision,
    tw_det double precision,
    tf double precision,
    tf_det double precision,
    ix double precision,
    sx double precision,
    rx double precision,
    zx double precision,
    iy double precision,
    sy double precision,
    ry double precision,
    zy double precision,
    j double precision,
    cw double precision,
    rts double precision,
    ho double precision,
    torsion_constant double precision,
    tdes double precision,
    wt_class character varying(20),
    aw double precision,
    bf_2tf double precision,
    h_tw double precision,
    x_bar double precision,
    y_bar double precision,
    ro double precision,
    h_bar double precision,
    is_available boolean DEFAULT true,
    is_astm_a1085 boolean DEFAULT false,
    nominal_depth integer,
    nominal_weight integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.aisc_shapes_v16 OWNER TO apex;

--
-- Name: aisc_shapes_v16_id_seq; Type: SEQUENCE; Schema: public; Owner: apex
--

CREATE SEQUENCE public.aisc_shapes_v16_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.aisc_shapes_v16_id_seq OWNER TO apex;

--
-- Name: aisc_shapes_v16_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: apex
--

ALTER SEQUENCE public.aisc_shapes_v16_id_seq OWNED BY public.aisc_shapes_v16.id;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: apex
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO apex;

--
-- Name: custom_sign_sections; Type: TABLE; Schema: public; Owner: apex
--

CREATE TABLE public.custom_sign_sections (
    id integer NOT NULL,
    designation character varying(100) NOT NULL,
    type character varying(50),
    material character varying(50),
    weight_plf double precision,
    area_in2 double precision,
    ix_in4 double precision,
    sx_in3 double precision,
    rx_in double precision,
    iy_in4 double precision,
    sy_in3 double precision,
    ry_in double precision,
    j_in4 double precision,
    max_span_ft double precision,
    cost_per_ft numeric(10,2),
    supplier character varying(100),
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.custom_sign_sections OWNER TO apex;

--
-- Name: sign_pole_sections; Type: VIEW; Schema: public; Owner: apex
--

CREATE VIEW public.sign_pole_sections AS
 SELECT aisc_manual_label AS designation,
    type,
    w AS weight_plf,
    area AS area_in2,
    ix AS ix_in4,
    sx AS sx_in3,
    rx AS rx_in,
    zx AS zx_in3,
    j AS j_in4,
        CASE
            WHEN ((type)::text = 'HSS'::text) THEN (d * (2.5)::double precision)
            WHEN ((type)::text = 'PIPE'::text) THEN (d * (2.0)::double precision)
            WHEN ((type)::text = 'W'::text) THEN (d * (1.5)::double precision)
            ELSE d
        END AS max_cantilever_ft
   FROM public.aisc_shapes_v16
  WHERE (((type)::text = ANY ((ARRAY['HSS'::character varying, 'PIPE'::character varying, 'W'::character varying, 'WT'::character varying])::text[])) AND (w > (10)::double precision) AND (sx > (5)::double precision))
  ORDER BY type, w;


ALTER VIEW public.sign_pole_sections OWNER TO apex;

--
-- Name: all_sign_poles; Type: VIEW; Schema: public; Owner: apex
--

CREATE VIEW public.all_sign_poles AS
 SELECT sign_pole_sections.designation,
    sign_pole_sections.type,
    'STEEL'::character varying AS material,
    sign_pole_sections.weight_plf,
    sign_pole_sections.area_in2,
    sign_pole_sections.sx_in3,
    sign_pole_sections.ix_in4
   FROM public.sign_pole_sections
UNION ALL
 SELECT custom_sign_sections.designation,
    custom_sign_sections.type,
    custom_sign_sections.material,
    custom_sign_sections.weight_plf,
    custom_sign_sections.area_in2,
    custom_sign_sections.sx_in3,
    custom_sign_sections.ix_in4
   FROM public.custom_sign_sections
  WHERE ((custom_sign_sections.type)::text = ANY ((ARRAY['ALUMINUM'::character varying, 'SQUARE_TUBE'::character varying])::text[]))
  ORDER BY 3, 4;


ALTER VIEW public.all_sign_poles OWNER TO apex;

--
-- Name: calibration_constants; Type: TABLE; Schema: public; Owner: apex
--

CREATE TABLE public.calibration_constants (
    constant_id integer NOT NULL,
    name character varying(255) NOT NULL,
    version character varying(50) NOT NULL,
    value double precision NOT NULL,
    unit character varying(50),
    description text,
    source character varying(255),
    effective_from date NOT NULL,
    effective_to date,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.calibration_constants OWNER TO apex;

--
-- Name: calibration_constants_constant_id_seq; Type: SEQUENCE; Schema: public; Owner: apex
--

CREATE SEQUENCE public.calibration_constants_constant_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.calibration_constants_constant_id_seq OWNER TO apex;

--
-- Name: calibration_constants_constant_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: apex
--

ALTER SEQUENCE public.calibration_constants_constant_id_seq OWNED BY public.calibration_constants.constant_id;


--
-- Name: cantilever_analysis_results; Type: TABLE; Schema: public; Owner: apex
--

CREATE TABLE public.cantilever_analysis_results (
    id character varying NOT NULL,
    config_id character varying NOT NULL,
    project_id character varying NOT NULL,
    moment_x_kipft double precision NOT NULL,
    moment_y_kipft double precision NOT NULL,
    moment_z_kipft double precision NOT NULL,
    total_moment_kipft double precision NOT NULL,
    shear_x_kip double precision NOT NULL,
    shear_y_kip double precision NOT NULL,
    axial_kip double precision NOT NULL,
    arm_bending_stress_ksi double precision NOT NULL,
    arm_shear_stress_ksi double precision NOT NULL,
    arm_deflection_in double precision NOT NULL,
    arm_rotation_deg double precision NOT NULL,
    connection_tension_kip double precision NOT NULL,
    connection_shear_kip double precision NOT NULL,
    connection_moment_kipft double precision NOT NULL,
    arm_stress_ratio double precision NOT NULL,
    connection_ratio double precision NOT NULL,
    deflection_ratio double precision NOT NULL,
    fatigue_cycles bigint DEFAULT 0,
    fatigue_factor double precision DEFAULT 1.0,
    warnings jsonb DEFAULT '[]'::jsonb,
    assumptions jsonb DEFAULT '[]'::jsonb,
    analysis_params jsonb,
    created_at timestamp with time zone DEFAULT now(),
    content_sha256 character varying,
    CONSTRAINT cantilever_analysis_results_arm_stress_ratio_check CHECK ((arm_stress_ratio >= (0)::double precision)),
    CONSTRAINT cantilever_analysis_results_fatigue_factor_check CHECK (((fatigue_factor >= (0)::double precision) AND (fatigue_factor <= (1)::double precision)))
);


ALTER TABLE public.cantilever_analysis_results OWNER TO apex;

--
-- Name: cantilever_configs; Type: TABLE; Schema: public; Owner: apex
--

CREATE TABLE public.cantilever_configs (
    id character varying NOT NULL,
    project_id character varying NOT NULL,
    cantilever_type public.cantilever_type NOT NULL,
    arm_length_ft double precision NOT NULL,
    arm_angle_deg double precision DEFAULT 0 NOT NULL,
    arm_section character varying NOT NULL,
    connection_type public.connection_type NOT NULL,
    num_arms integer DEFAULT 1 NOT NULL,
    arm_spacing_ft double precision DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT cantilever_configs_arm_angle_deg_check CHECK (((arm_angle_deg >= ('-15'::integer)::double precision) AND (arm_angle_deg <= (15)::double precision))),
    CONSTRAINT cantilever_configs_arm_length_ft_check CHECK (((arm_length_ft > (0)::double precision) AND (arm_length_ft <= (30)::double precision))),
    CONSTRAINT cantilever_configs_num_arms_check CHECK (((num_arms >= 1) AND (num_arms <= 4)))
);


ALTER TABLE public.cantilever_configs OWNER TO apex;

--
-- Name: cantilever_pole_sections; Type: VIEW; Schema: public; Owner: apex
--

CREATE VIEW public.cantilever_pole_sections AS
 SELECT aisc_manual_label AS designation,
    type,
    w AS weight_plf,
    area AS area_in2,
    ix AS ix_in4,
    sx AS sx_in3,
    zx AS zx_in3,
    j AS j_in4,
        CASE
            WHEN (sx < (10)::double precision) THEN 10
            WHEN (sx < (25)::double precision) THEN 15
            WHEN (sx < (50)::double precision) THEN 20
            WHEN (sx < (100)::double precision) THEN 25
            ELSE 30
        END AS max_cantilever_ft,
        CASE
            WHEN (((type)::text = 'HSS'::text) AND is_astm_a1085) THEN 1.1
            WHEN ((type)::text = 'HSS'::text) THEN 1.0
            WHEN ((type)::text = 'PIPE'::text) THEN 0.95
            WHEN ((type)::text = 'W'::text) THEN 1.15
            ELSE 1.0
        END AS cost_factor
   FROM public.aisc_shapes_v16
  WHERE (((type)::text = ANY ((ARRAY['HSS'::character varying, 'PIPE'::character varying, 'W'::character varying])::text[])) AND (sx >= (10)::double precision) AND (w <= (100)::double precision))
  ORDER BY sx;


ALTER VIEW public.cantilever_pole_sections OWNER TO apex;

--
-- Name: cantilever_sections; Type: TABLE; Schema: public; Owner: apex
--

CREATE TABLE public.cantilever_sections (
    id integer NOT NULL,
    designation character varying NOT NULL,
    shape_type character varying NOT NULL,
    weight_plf double precision NOT NULL,
    area_in2 double precision NOT NULL,
    ix_in4 double precision NOT NULL,
    sx_in3 double precision NOT NULL,
    rx_in double precision NOT NULL,
    iy_in4 double precision,
    sy_in3 double precision,
    ry_in double precision,
    j_in4 double precision,
    fy_ksi double precision DEFAULT 50,
    max_span_ft double precision,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.cantilever_sections OWNER TO apex;

--
-- Name: cantilever_sections_id_seq; Type: SEQUENCE; Schema: public; Owner: apex
--

CREATE SEQUENCE public.cantilever_sections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cantilever_sections_id_seq OWNER TO apex;

--
-- Name: cantilever_sections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: apex
--

ALTER SEQUENCE public.cantilever_sections_id_seq OWNED BY public.cantilever_sections.id;


--
-- Name: code_references; Type: TABLE; Schema: public; Owner: apex
--

CREATE TABLE public.code_references (
    ref_id character varying(100) NOT NULL,
    code character varying(50) NOT NULL,
    section character varying(100) NOT NULL,
    title text NOT NULL,
    formula text,
    application text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.code_references OWNER TO apex;

--
-- Name: custom_sign_sections_id_seq; Type: SEQUENCE; Schema: public; Owner: apex
--

CREATE SEQUENCE public.custom_sign_sections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.custom_sign_sections_id_seq OWNER TO apex;

--
-- Name: custom_sign_sections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: apex
--

ALTER SEQUENCE public.custom_sign_sections_id_seq OWNED BY public.custom_sign_sections.id;


--
-- Name: material_catalog; Type: TABLE; Schema: public; Owner: apex
--

CREATE TABLE public.material_catalog (
    material_id character varying(50) NOT NULL,
    standard character varying(50) NOT NULL,
    grade character varying(50) NOT NULL,
    shape character varying(50) NOT NULL,
    properties json NOT NULL,
    dimensions json,
    source_table character varying(100),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.material_catalog OWNER TO apex;

--
-- Name: material_cost_indices; Type: TABLE; Schema: public; Owner: apex
--

CREATE TABLE public.material_cost_indices (
    id integer NOT NULL,
    material character varying(50) NOT NULL,
    year integer NOT NULL,
    month integer NOT NULL,
    index_value double precision NOT NULL,
    price_per_lb numeric(10,4),
    source character varying(100),
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.material_cost_indices OWNER TO apex;

--
-- Name: material_cost_indices_id_seq; Type: SEQUENCE; Schema: public; Owner: apex
--

CREATE SEQUENCE public.material_cost_indices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.material_cost_indices_id_seq OWNER TO apex;

--
-- Name: material_cost_indices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: apex
--

ALTER SEQUENCE public.material_cost_indices_id_seq OWNED BY public.material_cost_indices.id;


--
-- Name: monument_configs; Type: TABLE; Schema: public; Owner: apex
--

CREATE TABLE public.monument_configs (
    id character varying NOT NULL,
    project_id character varying NOT NULL,
    pole_height_ft double precision NOT NULL,
    pole_section character varying NOT NULL,
    base_plate_size_in double precision,
    embedment_depth_ft double precision,
    sign_width_ft double precision NOT NULL,
    sign_height_ft double precision NOT NULL,
    sign_area_sqft double precision NOT NULL,
    sign_thickness_in double precision DEFAULT 0.125,
    clearance_to_grade_ft double precision DEFAULT 8.0,
    basic_wind_speed_mph double precision NOT NULL,
    exposure_category public.exposure_category NOT NULL,
    importance_factor public.importance_factor DEFAULT 'II'::public.importance_factor,
    gust_factor double precision DEFAULT 0.85,
    force_coefficient double precision DEFAULT 1.2,
    ground_snow_load_psf double precision DEFAULT 0,
    ice_thickness_in double precision DEFAULT 0,
    seismic_sds double precision DEFAULT 0,
    soil_bearing_capacity_psf double precision DEFAULT 2000,
    deflection_limit_ratio double precision DEFAULT 200,
    stress_ratio_limit double precision DEFAULT 0.9,
    foundation_type character varying DEFAULT 'spread_footing'::character varying,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT monument_configs_basic_wind_speed_mph_check CHECK (((basic_wind_speed_mph >= (85)::double precision) AND (basic_wind_speed_mph <= (200)::double precision))),
    CONSTRAINT monument_configs_pole_height_ft_check CHECK (((pole_height_ft > (0)::double precision) AND (pole_height_ft <= (50)::double precision))),
    CONSTRAINT monument_configs_sign_area_sqft_check CHECK (((sign_area_sqft > (0)::double precision) AND (sign_area_sqft <= (500)::double precision))),
    CONSTRAINT monument_configs_soil_bearing_capacity_psf_check CHECK ((soil_bearing_capacity_psf >= (1000)::double precision))
);


ALTER TABLE public.monument_configs OWNER TO apex;

--
-- Name: optimal_monument_poles; Type: VIEW; Schema: public; Owner: apex
--

CREATE VIEW public.optimal_monument_poles AS
 SELECT aisc_manual_label AS designation,
    type,
    w AS weight_plf,
    nominal_depth AS diameter_in,
    area AS area_in2,
    ix AS ix_in4,
    sx AS sx_in3,
    rx AS rx_in,
    is_astm_a1085,
        CASE
            WHEN (w > (0)::double precision) THEN (sx / w)
            ELSE (0)::double precision
        END AS efficiency_ratio,
    (((sx * (50)::double precision) * (0.9)::double precision) / (12)::double precision) AS moment_capacity_kipft,
        CASE
            WHEN (rx > (0)::double precision) THEN ((rx * (200)::double precision) / (12)::double precision)
            ELSE (0)::double precision
        END AS max_height_ft,
    (w * (0.90)::double precision) AS material_cost_per_ft,
    ((w * (0.90)::double precision) * (2.5)::double precision) AS installed_cost_per_ft,
        CASE
            WHEN (nominal_depth <= 6) THEN 'Small monument (< 16 ft)'::text
            WHEN (nominal_depth <= 10) THEN 'Medium monument (16-25 ft)'::text
            WHEN (nominal_depth <= 14) THEN 'Large monument (25-35 ft)'::text
            ELSE 'Extra large monument (> 35 ft)'::text
        END AS typical_application
   FROM public.aisc_shapes_v16 s
  WHERE (((type)::text = ANY ((ARRAY['HSS'::character varying, 'PIPE'::character varying])::text[])) AND (nominal_depth >= 6) AND (nominal_depth <= 16) AND (w <= (100)::double precision) AND (is_available = true))
  ORDER BY nominal_depth, w;


ALTER VIEW public.optimal_monument_poles OWNER TO apex;

--
-- Name: partition_metadata; Type: TABLE; Schema: public; Owner: apex
--

CREATE TABLE public.partition_metadata (
    partition_id integer NOT NULL,
    table_name character varying(100) NOT NULL,
    partition_name character varying(100) NOT NULL,
    partition_type character varying(50) NOT NULL,
    partition_key character varying(200) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.partition_metadata OWNER TO apex;

--
-- Name: partition_metadata_partition_id_seq; Type: SEQUENCE; Schema: public; Owner: apex
--

CREATE SEQUENCE public.partition_metadata_partition_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.partition_metadata_partition_id_seq OWNER TO apex;

--
-- Name: partition_metadata_partition_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: apex
--

ALTER SEQUENCE public.partition_metadata_partition_id_seq OWNED BY public.partition_metadata.partition_id;


--
-- Name: pole_sections; Type: TABLE; Schema: public; Owner: apex
--

CREATE TABLE public.pole_sections (
    section_id integer NOT NULL,
    designation character varying(100) NOT NULL,
    shape_type character varying(50) NOT NULL,
    weight_lbs_per_ft double precision,
    area_in2 double precision,
    ix_in4 double precision,
    sx_in3 double precision,
    fy_ksi double precision,
    edition character varying(20),
    source_sha256 character varying(64),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.pole_sections OWNER TO apex;

--
-- Name: pole_sections_section_id_seq; Type: SEQUENCE; Schema: public; Owner: apex
--

CREATE SEQUENCE public.pole_sections_section_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pole_sections_section_id_seq OWNER TO apex;

--
-- Name: pole_sections_section_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: apex
--

ALTER SEQUENCE public.pole_sections_section_id_seq OWNED BY public.pole_sections.section_id;


--
-- Name: pricing_configs; Type: TABLE; Schema: public; Owner: apex
--

CREATE TABLE public.pricing_configs (
    price_id integer NOT NULL,
    item_code character varying(100) NOT NULL,
    version character varying(50) NOT NULL,
    price_usd numeric(10,2) NOT NULL,
    description text,
    category character varying(100),
    effective_from date NOT NULL,
    effective_to date,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.pricing_configs OWNER TO apex;

--
-- Name: pricing_configs_price_id_seq; Type: SEQUENCE; Schema: public; Owner: apex
--

CREATE SEQUENCE public.pricing_configs_price_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pricing_configs_price_id_seq OWNER TO apex;

--
-- Name: pricing_configs_price_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: apex
--

ALTER SEQUENCE public.pricing_configs_price_id_seq OWNED BY public.pricing_configs.price_id;


--
-- Name: project_events; Type: TABLE; Schema: public; Owner: apex
--

CREATE TABLE public.project_events (
    event_id integer NOT NULL,
    project_id character varying(255) NOT NULL,
    event_type character varying(255) NOT NULL,
    actor character varying(255) NOT NULL,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL,
    data json NOT NULL
);


ALTER TABLE public.project_events OWNER TO apex;

--
-- Name: project_events_event_id_seq; Type: SEQUENCE; Schema: public; Owner: apex
--

CREATE SEQUENCE public.project_events_event_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.project_events_event_id_seq OWNER TO apex;

--
-- Name: project_events_event_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: apex
--

ALTER SEQUENCE public.project_events_event_id_seq OWNED BY public.project_events.event_id;


--
-- Name: project_payloads; Type: TABLE; Schema: public; Owner: apex
--

CREATE TABLE public.project_payloads (
    payload_id integer NOT NULL,
    project_id character varying(255) NOT NULL,
    module character varying(255) NOT NULL,
    config json NOT NULL,
    files json NOT NULL,
    cost_snapshot json NOT NULL,
    sha256 character varying(64),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT project_payloads_module_check CHECK (((module)::text = ANY ((ARRAY['signage.single_pole.direct_burial'::character varying, 'signage.single_pole.base_plate'::character varying, 'signage.two_pole.direct_burial'::character varying])::text[])))
);


ALTER TABLE public.project_payloads OWNER TO apex;

--
-- Name: project_payloads_payload_id_seq; Type: SEQUENCE; Schema: public; Owner: apex
--

CREATE SEQUENCE public.project_payloads_payload_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.project_payloads_payload_id_seq OWNER TO apex;

--
-- Name: project_payloads_payload_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: apex
--

ALTER SEQUENCE public.project_payloads_payload_id_seq OWNED BY public.project_payloads.payload_id;


--
-- Name: projects; Type: TABLE; Schema: public; Owner: apex
--

CREATE TABLE public.projects (
    project_id character varying(255) NOT NULL,
    account_id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    customer character varying(255),
    description text,
    site_name character varying(255),
    street character varying(255),
    status character varying(50) NOT NULL,
    created_by character varying(255) NOT NULL,
    updated_by character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    etag character varying(64),
    constants_version character varying(500),
    content_sha256 character varying(64),
    confidence double precision,
    CONSTRAINT chk_confidence CHECK ((((confidence >= (0.0)::double precision) AND (confidence <= (1.0)::double precision)) OR (confidence IS NULL))),
    CONSTRAINT projects_status_check CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'estimating'::character varying, 'submitted'::character varying, 'accepted'::character varying, 'rejected'::character varying])::text[])))
);


ALTER TABLE public.projects OWNER TO apex;

--
-- Name: project_stats; Type: MATERIALIZED VIEW; Schema: public; Owner: apex
--

CREATE MATERIALIZED VIEW public.project_stats AS
 SELECT account_id,
    status,
    count(*) AS project_count,
    avg((EXTRACT(epoch FROM (updated_at - created_at)) / (3600)::numeric)) AS avg_duration_hours
   FROM public.projects
  WHERE ((status)::text <> 'draft'::text)
  GROUP BY account_id, status
  WITH NO DATA;


ALTER MATERIALIZED VIEW public.project_stats OWNER TO apex;

--
-- Name: single_pole_sections; Type: VIEW; Schema: public; Owner: apex
--

CREATE VIEW public.single_pole_sections AS
 SELECT aisc_manual_label AS designation,
    type,
    w AS weight_plf,
    area AS area_in2,
    ix AS ix_in4,
    sx AS sx_in3,
    rx AS rx_in,
        CASE
            WHEN (rx < (2)::double precision) THEN 20
            WHEN (rx < (3)::double precision) THEN 30
            WHEN (rx < (4)::double precision) THEN 40
            ELSE 50
        END AS max_height_ft
   FROM public.aisc_shapes_v16
  WHERE (((type)::text = ANY ((ARRAY['HSS'::character varying, 'PIPE'::character varying, 'W'::character varying])::text[])) AND (rx >= (1.5)::double precision))
  ORDER BY w;


ALTER VIEW public.single_pole_sections OWNER TO apex;

--
-- Name: aisc_shapes_v16 id; Type: DEFAULT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.aisc_shapes_v16 ALTER COLUMN id SET DEFAULT nextval('public.aisc_shapes_v16_id_seq'::regclass);


--
-- Name: calibration_constants constant_id; Type: DEFAULT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.calibration_constants ALTER COLUMN constant_id SET DEFAULT nextval('public.calibration_constants_constant_id_seq'::regclass);


--
-- Name: cantilever_sections id; Type: DEFAULT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.cantilever_sections ALTER COLUMN id SET DEFAULT nextval('public.cantilever_sections_id_seq'::regclass);


--
-- Name: custom_sign_sections id; Type: DEFAULT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.custom_sign_sections ALTER COLUMN id SET DEFAULT nextval('public.custom_sign_sections_id_seq'::regclass);


--
-- Name: material_cost_indices id; Type: DEFAULT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.material_cost_indices ALTER COLUMN id SET DEFAULT nextval('public.material_cost_indices_id_seq'::regclass);


--
-- Name: partition_metadata partition_id; Type: DEFAULT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.partition_metadata ALTER COLUMN partition_id SET DEFAULT nextval('public.partition_metadata_partition_id_seq'::regclass);


--
-- Name: pole_sections section_id; Type: DEFAULT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.pole_sections ALTER COLUMN section_id SET DEFAULT nextval('public.pole_sections_section_id_seq'::regclass);


--
-- Name: pricing_configs price_id; Type: DEFAULT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.pricing_configs ALTER COLUMN price_id SET DEFAULT nextval('public.pricing_configs_price_id_seq'::regclass);


--
-- Name: project_events event_id; Type: DEFAULT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.project_events ALTER COLUMN event_id SET DEFAULT nextval('public.project_events_event_id_seq'::regclass);


--
-- Name: project_payloads payload_id; Type: DEFAULT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.project_payloads ALTER COLUMN payload_id SET DEFAULT nextval('public.project_payloads_payload_id_seq'::regclass);


--
-- Data for Name: aisc_shapes_v16; Type: TABLE DATA; Schema: public; Owner: apex
--



--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: apex
--

COPY public.alembic_version (version_num) FROM stdin;
008
\.


--
-- Data for Name: calibration_constants; Type: TABLE DATA; Schema: public; Owner: apex
--



--
-- Data for Name: cantilever_analysis_results; Type: TABLE DATA; Schema: public; Owner: apex
--

COPY public.cantilever_analysis_results (id, config_id, project_id, moment_x_kipft, moment_y_kipft, moment_z_kipft, total_moment_kipft, shear_x_kip, shear_y_kip, axial_kip, arm_bending_stress_ksi, arm_shear_stress_ksi, arm_deflection_in, arm_rotation_deg, connection_tension_kip, connection_shear_kip, connection_moment_kipft, arm_stress_ratio, connection_ratio, deflection_ratio, fatigue_cycles, fatigue_factor, warnings, assumptions, analysis_params, created_at, content_sha256) FROM stdin;
\.


--
-- Data for Name: cantilever_configs; Type: TABLE DATA; Schema: public; Owner: apex
--

COPY public.cantilever_configs (id, project_id, cantilever_type, arm_length_ft, arm_angle_deg, arm_section, connection_type, num_arms, arm_spacing_ft, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: cantilever_sections; Type: TABLE DATA; Schema: public; Owner: apex
--



--
-- Data for Name: code_references; Type: TABLE DATA; Schema: public; Owner: apex
--



--
-- Data for Name: custom_sign_sections; Type: TABLE DATA; Schema: public; Owner: apex
--



--
-- Data for Name: material_catalog; Type: TABLE DATA; Schema: public; Owner: apex
--



--
-- Data for Name: material_cost_indices; Type: TABLE DATA; Schema: public; Owner: apex
--



--
-- Data for Name: monument_configs; Type: TABLE DATA; Schema: public; Owner: apex
--

COPY public.monument_configs (id, project_id, pole_height_ft, pole_section, base_plate_size_in, embedment_depth_ft, sign_width_ft, sign_height_ft, sign_area_sqft, sign_thickness_in, clearance_to_grade_ft, basic_wind_speed_mph, exposure_category, importance_factor, gust_factor, force_coefficient, ground_snow_load_psf, ice_thickness_in, seismic_sds, soil_bearing_capacity_psf, deflection_limit_ratio, stress_ratio_limit, foundation_type, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: partition_metadata; Type: TABLE DATA; Schema: public; Owner: apex
--

COPY public.partition_metadata (partition_id, table_name, partition_name, partition_type, partition_key, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: pole_sections; Type: TABLE DATA; Schema: public; Owner: apex
--

COPY public.pole_sections (section_id, designation, shape_type, weight_lbs_per_ft, area_in2, ix_in4, sx_in3, fy_ksi, edition, source_sha256, created_at) FROM stdin;
\.


--
-- Data for Name: pricing_configs; Type: TABLE DATA; Schema: public; Owner: apex
--



--
-- Data for Name: project_events; Type: TABLE DATA; Schema: public; Owner: apex
--

COPY public.project_events (event_id, project_id, event_type, actor, "timestamp", data) FROM stdin;
1	proj_7860bcd0e491	project.created	user1	2025-11-01 03:44:29.443442+00	{"name": "Test Project"}
2	proj_6089a1fae732	project.created	user1	2025-11-01 04:28:43.752783+00	{"name": "ETag Test"}
3	proj_16051ebdf1be	project.created	user1	2025-11-01 04:28:55.014407+00	{"name": "ETag Test"}
\.


--
-- Data for Name: project_payloads; Type: TABLE DATA; Schema: public; Owner: apex
--

COPY public.project_payloads (payload_id, project_id, module, config, files, cost_snapshot, sha256, created_at) FROM stdin;
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: apex
--



--
-- Name: aisc_shapes_v16_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apex
--

SELECT pg_catalog.setval('public.aisc_shapes_v16_id_seq', 2299, true);


--
-- Name: calibration_constants_constant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apex
--

SELECT pg_catalog.setval('public.calibration_constants_constant_id_seq', 16, true);


--
-- Name: cantilever_sections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apex
--

SELECT pg_catalog.setval('public.cantilever_sections_id_seq', 27, true);


--
-- Name: custom_sign_sections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apex
--

SELECT pg_catalog.setval('public.custom_sign_sections_id_seq', 5, true);


--
-- Name: material_cost_indices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apex
--

SELECT pg_catalog.setval('public.material_cost_indices_id_seq', 12, true);


--
-- Name: partition_metadata_partition_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apex
--

SELECT pg_catalog.setval('public.partition_metadata_partition_id_seq', 1, false);


--
-- Name: pole_sections_section_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apex
--

SELECT pg_catalog.setval('public.pole_sections_section_id_seq', 1, false);


--
-- Name: pricing_configs_price_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apex
--

SELECT pg_catalog.setval('public.pricing_configs_price_id_seq', 5, true);


--
-- Name: project_events_event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apex
--

SELECT pg_catalog.setval('public.project_events_event_id_seq', 3, true);


--
-- Name: project_payloads_payload_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apex
--

SELECT pg_catalog.setval('public.project_payloads_payload_id_seq', 1, false);


--
-- Name: aisc_shapes_v16 aisc_shapes_v16_aisc_manual_label_key; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.aisc_shapes_v16
    ADD CONSTRAINT aisc_shapes_v16_aisc_manual_label_key UNIQUE (aisc_manual_label);


--
-- Name: aisc_shapes_v16 aisc_shapes_v16_pkey; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.aisc_shapes_v16
    ADD CONSTRAINT aisc_shapes_v16_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: calibration_constants calibration_constants_pkey; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.calibration_constants
    ADD CONSTRAINT calibration_constants_pkey PRIMARY KEY (constant_id);


--
-- Name: cantilever_analysis_results cantilever_analysis_results_pkey; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.cantilever_analysis_results
    ADD CONSTRAINT cantilever_analysis_results_pkey PRIMARY KEY (id);


--
-- Name: cantilever_configs cantilever_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.cantilever_configs
    ADD CONSTRAINT cantilever_configs_pkey PRIMARY KEY (id);


--
-- Name: cantilever_sections cantilever_sections_designation_key; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.cantilever_sections
    ADD CONSTRAINT cantilever_sections_designation_key UNIQUE (designation);


--
-- Name: cantilever_sections cantilever_sections_pkey; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.cantilever_sections
    ADD CONSTRAINT cantilever_sections_pkey PRIMARY KEY (id);


--
-- Name: code_references code_references_pkey; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.code_references
    ADD CONSTRAINT code_references_pkey PRIMARY KEY (ref_id);


--
-- Name: custom_sign_sections custom_sign_sections_designation_key; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.custom_sign_sections
    ADD CONSTRAINT custom_sign_sections_designation_key UNIQUE (designation);


--
-- Name: custom_sign_sections custom_sign_sections_pkey; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.custom_sign_sections
    ADD CONSTRAINT custom_sign_sections_pkey PRIMARY KEY (id);


--
-- Name: material_catalog material_catalog_pkey; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.material_catalog
    ADD CONSTRAINT material_catalog_pkey PRIMARY KEY (material_id);


--
-- Name: material_cost_indices material_cost_indices_material_year_month_key; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.material_cost_indices
    ADD CONSTRAINT material_cost_indices_material_year_month_key UNIQUE (material, year, month);


--
-- Name: material_cost_indices material_cost_indices_pkey; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.material_cost_indices
    ADD CONSTRAINT material_cost_indices_pkey PRIMARY KEY (id);


--
-- Name: monument_configs monument_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.monument_configs
    ADD CONSTRAINT monument_configs_pkey PRIMARY KEY (id);


--
-- Name: partition_metadata partition_metadata_pkey; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.partition_metadata
    ADD CONSTRAINT partition_metadata_pkey PRIMARY KEY (partition_id);


--
-- Name: pole_sections pole_sections_pkey; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.pole_sections
    ADD CONSTRAINT pole_sections_pkey PRIMARY KEY (section_id);


--
-- Name: pricing_configs pricing_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.pricing_configs
    ADD CONSTRAINT pricing_configs_pkey PRIMARY KEY (price_id);


--
-- Name: project_events project_events_pkey; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.project_events
    ADD CONSTRAINT project_events_pkey PRIMARY KEY (event_id);


--
-- Name: project_payloads project_payloads_pkey; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.project_payloads
    ADD CONSTRAINT project_payloads_pkey PRIMARY KEY (payload_id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (project_id);


--
-- Name: idx_aisc_ix; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX idx_aisc_ix ON public.aisc_shapes_v16 USING btree (ix);


--
-- Name: idx_aisc_label; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX idx_aisc_label ON public.aisc_shapes_v16 USING btree (aisc_manual_label);


--
-- Name: idx_aisc_nominal_depth; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX idx_aisc_nominal_depth ON public.aisc_shapes_v16 USING btree (nominal_depth) WHERE (nominal_depth IS NOT NULL);


--
-- Name: idx_aisc_sx; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX idx_aisc_sx ON public.aisc_shapes_v16 USING btree (sx);


--
-- Name: idx_aisc_type; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX idx_aisc_type ON public.aisc_shapes_v16 USING btree (type);


--
-- Name: idx_aisc_weight; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX idx_aisc_weight ON public.aisc_shapes_v16 USING btree (w);


--
-- Name: idx_cantilever_analysis_config_id; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX idx_cantilever_analysis_config_id ON public.cantilever_analysis_results USING btree (config_id);


--
-- Name: idx_cantilever_analysis_project_id; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX idx_cantilever_analysis_project_id ON public.cantilever_analysis_results USING btree (project_id);


--
-- Name: ix_calib_name_version; Type: INDEX; Schema: public; Owner: apex
--

CREATE UNIQUE INDEX ix_calib_name_version ON public.calibration_constants USING btree (name, version);


--
-- Name: ix_calib_version; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_calib_version ON public.calibration_constants USING btree (version);


--
-- Name: ix_code_section; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_code_section ON public.code_references USING btree (code, section);


--
-- Name: ix_events_project_timestamp; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_events_project_timestamp ON public.project_events USING btree (project_id, "timestamp" DESC);


--
-- Name: ix_mat_shape; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_mat_shape ON public.material_catalog USING btree (shape);


--
-- Name: ix_mat_standard_grade; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_mat_standard_grade ON public.material_catalog USING btree (standard, grade);


--
-- Name: ix_partition_metadata_table; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_partition_metadata_table ON public.partition_metadata USING btree (table_name, is_active);


--
-- Name: ix_payloads_project_created; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_payloads_project_created ON public.project_payloads USING btree (project_id, created_at DESC);


--
-- Name: ix_payloads_project_module; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_payloads_project_module ON public.project_payloads USING btree (project_id, module);


--
-- Name: ix_payloads_project_sha256; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_payloads_project_sha256 ON public.project_payloads USING btree (project_id, sha256);


--
-- Name: ix_pole_sections_designation; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_pole_sections_designation ON public.pole_sections USING btree (designation);


--
-- Name: ix_pole_sections_type; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_pole_sections_type ON public.pole_sections USING btree (shape_type);


--
-- Name: ix_pricing_effective; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_pricing_effective ON public.pricing_configs USING btree (effective_from, effective_to);


--
-- Name: ix_pricing_item_version; Type: INDEX; Schema: public; Owner: apex
--

CREATE UNIQUE INDEX ix_pricing_item_version ON public.pricing_configs USING btree (item_code, version);


--
-- Name: ix_project_events_event_type; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_project_events_event_type ON public.project_events USING btree (event_type);


--
-- Name: ix_project_events_project_id; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_project_events_project_id ON public.project_events USING btree (project_id);


--
-- Name: ix_project_events_timestamp; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_project_events_timestamp ON public.project_events USING btree ("timestamp");


--
-- Name: ix_project_payloads_project_id; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_project_payloads_project_id ON public.project_payloads USING btree (project_id);


--
-- Name: ix_project_payloads_project_module_created; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_project_payloads_project_module_created ON public.project_payloads USING btree (project_id, module, created_at DESC);


--
-- Name: ix_project_payloads_sha256; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_project_payloads_sha256 ON public.project_payloads USING btree (sha256);


--
-- Name: ix_project_stats_unique; Type: INDEX; Schema: public; Owner: apex
--

CREATE UNIQUE INDEX ix_project_stats_unique ON public.project_stats USING btree (account_id, status);


--
-- Name: ix_projects_account_status; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_projects_account_status ON public.projects USING btree (account_id, status);


--
-- Name: ix_projects_account_status_created; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_projects_account_status_created ON public.projects USING btree (account_id, status, created_at DESC);


--
-- Name: ix_projects_active_status; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_projects_active_status ON public.projects USING btree (status, created_at DESC) WHERE ((status)::text = ANY ((ARRAY['draft'::character varying, 'estimating'::character varying])::text[]));


--
-- Name: ix_projects_content_sha; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_projects_content_sha ON public.projects USING btree (content_sha256);


--
-- Name: ix_projects_etag; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_projects_etag ON public.projects USING btree (etag);


--
-- Name: ix_projects_non_draft_status; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_projects_non_draft_status ON public.projects USING btree (status) WHERE ((status)::text <> 'draft'::text);


--
-- Name: ix_projects_status_created; Type: INDEX; Schema: public; Owner: apex
--

CREATE INDEX ix_projects_status_created ON public.projects USING btree (status, created_at DESC);


--
-- Name: uq_projects_etag; Type: INDEX; Schema: public; Owner: apex
--

CREATE UNIQUE INDEX uq_projects_etag ON public.projects USING btree (etag) WHERE (etag IS NOT NULL);


--
-- Name: cantilever_analysis_results cantilever_analysis_results_config_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.cantilever_analysis_results
    ADD CONSTRAINT cantilever_analysis_results_config_id_fkey FOREIGN KEY (config_id) REFERENCES public.cantilever_configs(id) ON DELETE CASCADE;


--
-- Name: cantilever_analysis_results cantilever_analysis_results_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.cantilever_analysis_results
    ADD CONSTRAINT cantilever_analysis_results_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(project_id) ON DELETE CASCADE;


--
-- Name: cantilever_configs cantilever_configs_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.cantilever_configs
    ADD CONSTRAINT cantilever_configs_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(project_id) ON DELETE CASCADE;


--
-- Name: project_events fk_events_project_id; Type: FK CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.project_events
    ADD CONSTRAINT fk_events_project_id FOREIGN KEY (project_id) REFERENCES public.projects(project_id) ON DELETE CASCADE;


--
-- Name: project_payloads fk_payloads_project_id; Type: FK CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.project_payloads
    ADD CONSTRAINT fk_payloads_project_id FOREIGN KEY (project_id) REFERENCES public.projects(project_id) ON DELETE CASCADE;


--
-- Name: monument_configs monument_configs_pole_section_fkey; Type: FK CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.monument_configs
    ADD CONSTRAINT monument_configs_pole_section_fkey FOREIGN KEY (pole_section) REFERENCES public.aisc_shapes_v16(aisc_manual_label) ON DELETE RESTRICT;


--
-- Name: monument_configs monument_configs_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: apex
--

ALTER TABLE ONLY public.monument_configs
    ADD CONSTRAINT monument_configs_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(project_id) ON DELETE CASCADE;


--
-- Name: project_stats; Type: MATERIALIZED VIEW DATA; Schema: public; Owner: apex
--

REFRESH MATERIALIZED VIEW public.project_stats;


--
-- PostgreSQL database dump complete
--

\unrestrict BY1f1qQ8VjJLhaVyTkduyD338G3Mz8l7w8zcaJ4BZIpd8Ow2A7x8xv1y6fYSjES

